language: python

python:
  - 2.7

services: postgresql

env:
  - DJANGO=1.10

before_install:
  - export DJANGO_SETTINGS_MODULE=django_polls.settings
  - export PYTHONPATH=$HOME/builds/misazr/travis_django_polls
  - export PIP_USE_MIRRORS=true
  - export PYTHONPATH="/usr/local/lib/python2.7/dist-packages"

install:
  - pip install -r requirements.txt
  - pip install django==$DJANGO --quiet
  - pip install psycopg2 --quiet

before_script:
  - psql -c "CREATE DATABASE mydb;" -U postgres

script:
  - python manage.py test
